:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Палітра 1 (тепла / натуральна) */
  --matcha: #809671;
  --almond: #E5E0D8;
  --pistache: #B3B792;
  --chai: #D2AB80;
  --carob: #725C3A;
  --vanilla: #E5D2B8;

  /* Палітра 2 (холодна / технічна / корпоративна) */
  --dark-blue: #1A2D42;
  --mid-blue: #2E4156;
  --light-grey1: #AAB7B7;
  --light-grey2: #C0C8CA;
  --light-grey3: #D4D8DD;

  /* Палітра 3 (монохромна зелена / еко / природна) */
  --dark-green: #0F2A1D;
  /* Основний колір тексту / тінь / заголовки */
  --mid-green1: #375534;
  /* Вторинний текст / активні елементи */
  --mid-green2: #6B9071;
  /* Акцент / кнопки / лінки */
  --light-green: #AEC3B0;
  /* Фон кнопок / бордери / інпутів */
  --very-light-green: #E3EED4;
  /* Загальний фон / фонові блоки */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}